<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}폴라레티{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('about') }}">About Me</a>
    <a href="{{ url_for('projects') }}">Projects</a>
    <a href="{{ url_for('experience') }}">Experience</a>
    <a href="{{ url_for('skills') }}">Skills</a>
    <a href="{{ url_for('contact') }}">Contact</a>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
